
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-container{
  background-color: blue;
}
.footer{

  background-color:gray;
  display: flex;
  font-size: medium;
}
.photo:hover{
  transform: scale(1);
  
}
.contact-container{
  height: 100vh;
}
.image-container{
background-image: url('https://th.bing.com/th/id/R.369b1b478d4b4cb076f57de71104f7c1?rik=sJ76Zz%2bBjLj6bQ&pid=ImgRaw&r=0');
background-size: cover;
height: 70vh;
}
.picture-container{
  padding-top: 0px;
  
  
}
.picture-container img{
  height: 30vh;
  width: 100%;

}

